<div class="topic-gallery-container">
  <div class="topic-gallery ui-line-icons" style="position: relative;">
    <div class="g-list">
      <div class="g-item-innerbox">
        <div class="g-imagebox">
          <img src="{{static '/img/1.jpg'}}">
        </div>
        <h4 class="g-title"><span>用百度钱包支付，单单返现金1%起</span></h4>
      </div>
      <div class="g-item-innerbox">
        <div class="g-imagebox">
          <img src="{{static '/img/2.jpg'}}">
        </div>
        <h4 class="g-title"><span>四川数百村民下河挖“玉石”</span></h4>
      </div>
      <div class="g-item-innerbox">
        <div class="g-imagebox">
          <img src="{{static '/img/3.jpg'}}">
        </div>
        <h4 class="g-title"><span>38位维秘超模卸妆后……</span></h4>
      </div>
    </div>
    <div class="g-icons">
      <i class="cur"></i>
      <i></i>
      <i></i>
    </div>
  </div>
</div>
