<div class="ui-hotword">
  <div class="ui-hotword-left">
    <span>热点</span>
  </div>
  <ul class="ui-hotword-content">
    <li class="ui-hotword-item" data-name="陕西发现清代钢轨">
      <span>陕西发现清代钢轨</span>
      <b class="ui-hotword-item-right"></b>
    </li>
    <li class="ui-hotword-item" data-name="范冰冰为李晨庆生">
      <span>范冰冰为李晨庆生</span>
      <b class="ui-hotword-item-right"></b>
    </li>
    <li class="ui-hotword-item" data-name="加强党校工作">
      <span>加强党校工作</span>
      <b class="ui-hotword-item-right"></b>
    </li>
    <li class="ui-hotword-item" data-name="土耳其击落俄战机">
      <span>土耳其击落俄战机</span>
      <b class="ui-hotword-item-right"></b>
    </li>
    <li class="ui-hotword-item" data-name="习近平出席气候大会">
      <span>习近平出席气候大会</span>
      <b class="ui-hotword-item-right"></b>
    </li>
    <li class="ui-hotword-item" data-name="曝郜林基本确定留队">
      <span>曝郜林基本确定留队</span>
      <b class="ui-hotword-item-right"></b>
    </li>
    <li class="ui-hotword-item" data-name="Apple Pay入华">
      <span>Apple Pay入华</span>
      <b class="ui-hotword-item-right"></b>
    </li>
    <li class="ui-hotword-item" data-name="传阿里投资饿了么">
      <span>传阿里投资饿了么</span>
      <b class="ui-hotword-item-right"></b>
    </li>
    <li class="ui-hotword-item" data-name="途牛第三季亏4.3亿">
      <span>途牛第三季亏4.3亿</span>
      <b class="ui-hotword-item-right"></b>
    </li>
    <li class="ui-hotword-item" data-name="崔始源新兵照曝光">
      <span>崔始源新兵照曝光</span>
      <b class="ui-hotword-item-right"></b>
    </li>
    <li class="ui-hotword-item" data-name="陕西发现清代钢轨">
      <span>陕西发现清代钢轨</span>
      <b class="ui-hotword-item-right"></b>
    </li>
  </ul>
</div>
