* {
  margin: 0;
  padding: 0;
}

html {
  color: #333;
  background: #f1f1f1;
  overflow-y: scroll;
}


.pass-header {
  background: #f8f8f8;
  border-bottom: 1px solid #ccc;
  height: 44px;
  width: 100%;
  padding: 0;
  position: relative;
  display: block;
  text-align: center;
}

.pass-back {
  margin: 6px 0;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  width: 80px;
  color: #666;
  display: block;
  position: absolute;
  left: 10px;
  top: 0;
  border: 1px solid #ccc;
  background-color: #fff;
  text-decoration: none;
}

.pass-content {
  background-color: #F3F3F3;
  padding-top: 40px;
  position: relative;
}

.form-input-wrapper {
  display: -webkit-box;
  -webkit-box-sizing: border-box;
  -webkit-box-flex: 1;
  height: 50px;
  border: 1px solid #bcbcbc;
  margin-bottom: 10px;
  margin: 0 20px;
  background: #fff;
}

.pass-content p {
  margin-top: 10px;
}


.err{
  color: #DC003B;
  position: absolute;
  top:5px;
  left: 20px;
  font-size: 14px;
}

label {
  margin-top: 14px;
  margin-left: 15px;
  display: inline-block;
}

input[type="text"] {
  font-size: 15px;
  border: none;
  background: transparent;
  display:block;
  height: 30px;
  margin-top: 10px;
  margin-left: 15px;
  -webkit-box-flex: 1;
  -webkit-appearance: none;
}

input[type="text"]:focus {
  outline: none;
}

#password{
  margin-left: 30px;
}

.pass-content p:nth-child(3) {
  margin-top: 10px;
  height: 45px;
}

.pass-btn {
  color: #fff;
  border: 1px solid #a4c7f3;
  background: #a4c7f3;
  font-size: 16px;
  width: 100%;
  line-height: 44px;
  cursor: pointer;
  display: block;
  text-align: center;
}
